@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;600&family=Island+Moments&display=swap');


/* li.visible {
    display: visible;
    color: black;
} 
*/
.links,a {
    color: black;
    font-size: 14px;
} 


/*  start of the new page --------------------->*/
body{
    height: 2000px;
}

* {
    font-family: 'Dosis', sans-serif;
    color:white;
}

nav {
    text-align: end;
    /* border: solid black 1px; */
    width: 90%;
    justify-items:right;

}
nav a {
    font-size: 16px;
    color: #BB5A52;
    margin: 0 5px 0 0;
    text-decoration:none;
}
.container2 {
    height: 740px;
    display: flex;
    font-size: 48px;
    flex-wrap: wrap;
    /* border: solid darkslategray 2px; */

}

.container2subs {
    position:relative;
    color: rgb(94, 141, 94);
    height: 50%;
    margin-right: 15px;
}
#subA {
    width: 20%;
    border: solid green 1px;

}
#subB {
    width: 70%;

}

#subC {
    width: 20%;
    border: solid green 1px;
    height: 35%;
}

#subD {
    display:flexbox;
    flex-direction: column;
    width: 70%;
    height: 15%;
    border-top: solid darkslategray 2px;
    z-index: -1;
}

.profilePicCard {
    position: absolute;
    display: flex;
    margin: -180px 0 0 55%;
    background-color: white;
    border: solid 1px rgb(49, 94, 64);
    height: 150%;
    width: 94%;
    border-radius: 3px;
    z-index: 8;
}

.profilePicCard1 {
    position: absolute;
    display: flex;
    background-color: darkslategray;
    margin: 8px 0 0 8px;
    /* height: 380px;
    width: 250px; */
    height: 96%;
    width: 94%;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

#profilePic {
    position:absolute;
    height: 340px;
    width: auto;
    z-index: 10;
}
#name {
    font-size: 48px;
    color: darkslategray;
    margin: 12px 0 0 -15%;
    text-align: center;
    width: 100%;


    z-index: 10;
}

#sig {
    position: absolute;
    margin: -50px 0 0 60%;
    border-radius: 3px;
    opacity: 70%;
    height:40px;
    width:40px;
}
.banner {
    display: block; 
    position: relative;
    padding: 2% 2% 2% 8%;
    width: 30%;
    min-width: 400px;
    height: 30%;
    z-index: 5;
}

h1 {
    color: black;
    font-size: 48px;
    z-index: 10;
}

.descriptions{
    margin: 90px 0 0 35%;
    height: 250px;
    width: 350px;
    z-index: 4;
}

    .front {
        margin: -50px 0 0 0px;
    }


    .edu {
        margin: 0px 0 0 0px;
    }
    .mus {
        margin: 60px 0 0 0px;
    }

    h2 {
        color: darkslategray;
        font-size: 20px;
        font-weight:lighter
    }

    .highlighted {
        font-weight: bold;
        font-size: 26px;
        margin: 0 0 0 -38px;
    }

    .descSkills li{
        color: darkslategray;
        font-family: 'Dosis', sans-serif;
        font-size: 14px;
      
    }
    .descSkills {
        position: relative;
        background-color: white;
        border-radius: 3px;
        border: solid darkslategray .5px;
        opacity: 70%;
    }
    #frontSkills{
        width: 160px;
        margin: -120px 0 0 350px;
        padding: 5px;
    }
    #eduSkills{
        width: 240px;
        margin: -56px 0 0 140px;
        padding: 15px 0 0 5px;
    }
    #musSkills{
        width: 200px;
        margin: -56px 0 0 135px;
        padding: 15px 0 0 5px;
    }

    .spacerBox {
        width: 10px;
        height: 50px;
        font-size: 48px;
    }

    p{   
        color:darkslategray;
        font-size: 16px;
        width: 40%; 
    }
    
    p:hover {
        transition: ease-in 2s;
        color: gold;
    }

    #bio #experience{
        width: 100%;
    } 

    #bio {
        margin: -20px 25px 0 15%;
        width: 35%;
        height: 180px;
    }

    #experience {
        margin: -182px 0 0 55%;
    }


    .interests {
        position: relative;
        background-color: rgb(214, 237, 215);
        width: 140px;
        height: 226px;
        padding: 0 1% 0 0;
        /* margin: -641px 0 0 1095px; */
        margin: -641px 0 0 79%;
        box-shadow: 3px 3px #6A6A6A;
        position: relative;
        border-radius: 2px;
        transform: rotate(-8deg);
       transition: transform 200ms ease-out;
       transform-origin: center top;
        z-index: 2;
    }

.interests:hover {
       transform: rotate(18deg);
       transform-origin: center top;


}

.rotated {
    transform: rotate(45deg);
    background-color: thistle;
}

    .interests li {
        color: darkslategray;
        font-size: 24px;
    }
    
    #pin {
        position: sticky;
        height: 40px;
        width: 40px;
        /* margin: -45% 0 0 7%; */
        /* margin: 43px 0 0 81%; */
        margin: -650px 0 0 -90px;
        z-index: 10;
    }
    
    #pin-shadow2 {
        position: sticky;
        height: 36px;
        width: 36px;
        /* margin: 43px 0 0 81%; */
        margin: -645px 0 0 -30px;
        transform: rotate(20deg);
        z-index: 3;
    }
    
    h3 {
        color: darkslategray;
        font-size: 14px;
    }
    .container2-B {
        visibility: hidden;
    }

.container3 {
    display: flexbox;
    position: relative;
    height: 400px;
    width: 100%;
    margin: -120px 0 0 0;
    background-color: #E1BC8B;
    border-radius: 3px;
}
.quoteBox {
    display: fixed;
    height: auto;
    z-index: 10;
    /* margin: -30px 0 0 0; */
}

.quotations {
    margin: 5% 0 0 15%;
    height: 400px;
}
#quoteHeader {
    color: black;
    font-size: 36px;
    width: 230px;
    margin: 50px 0 0% 5%;
    padding: 10px;
    transition: all ease-out 1s;
}
#quoteHeader:hover {
    color: white;
    border: solid black 1px;
    box-shadow: gray 3px 3px;
}
#wilson #manning {
    margin: 0 0 0 -20%;
    width: 100px;
}
/* problem: effects ALL li's */
.quotes,li {
    width: 80%;
    margin: -5px 20% 5% 18px;
    font-family: 'Island Moments', cursive;
    font-size: 48px;
}

.hidden{
    visibility: hidden;
}

.visibile{
    visibility:visible;
}
.container4 {
    margin: 50px 0 0 0;
    background-image: url("assets/subway-tile2.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    height: 500px;
    display: flexbox;
    padding: 0 0 0 300px;
}

.container4 a{
    margin: 0 15px 0 45px;
 }

.container4 img {
    position:relative;
    display: flexbox;
    height: 100px;
    width: 100px;
}
.container4 a {
    flex-basis: 0fr;
    color: white;
    font-size: 26px;
    display: inline;
    height: 120px;
    width: 150px;
}
footer {
    height: 60px;
    margin: 50px 50px 0 50px;
    background-color: white;
    z-index: 10;
    border: solid darkslategray 2px;
}

#iconBox {
    text-align: center;
    z-index: 10;
}

footer img {
    height: 30px;
    width: auto;
    margin: 15px 5px 25px 5px;
    z-index: 10;

} 

/* <--------screen size cut points ---------->*/

@media only screen and (max-width: 1350px) {
    .container2 {
        display:flexbox
        }
    
    #name {
        color: pink;  
        /* border: solid pink 1px; */
        width: 400px;
        margin: 20px 0 0 0%;
    }
    #sig {
        margin: -49px 0 0 50%;
    }
    .banner {
        margin: 0 0 0 0%;
        /* border: solid blue 1px; */

    }
    .descriptions {
        margin: 60px 0 0 35%;
    }

    .profilePicCard {
        height: 130%;
        width: 95%;
    }

    .profilePicCard1 {
        height: 95%;
        width: 95%;
    }
    
    #profilePic {
        height: 285px;
        width: auto;
    }

}

@media only screen and (max-width: 1220px) {
    #name {
        color: purple;  
        /* border: solid pink 1px; */
        width: 350px;
        margin: 20px 0 0 0%;
    }
    .descriptions {
        margin: 150px 0 0 -55%;
    }
}

@media only screen and (max-width: 1220px) {
    #name {
        color: yellow;  
        /* border: solid pink 1px; */
        width: 350px;
        margin: 20px 0 0 0%;
    }
    .descriptions {
        margin: 50px 0 0 15%;
    }
}

@media only screen and (max-width: 1180px) {
    nav {
        width: 70%;
    }
    #name {
        color: rgb(103, 192, 204);  
        /* border: solid pink 1px; */
        width: 350px;
        margin: 20px 0 0 0%;
    }
    #sig {
        margin: -50px 0 0 50%;
    }
    .descriptions {
        margin: 80px 0 0 15%;
    }
    .interests {
        margin: -541px 0 0 79%;

    }
    .profilePicCard {
        height: 110%;
        width: 95%;
    }

    .profilePicCard1 {
        height: 96%;
        width: 95%;
    }
    
    #profilePic {
        height: 265px;
        width: auto;
    }
    #pin {
        position: sticky;
        height: 40px;
        width: 40px;
        /* margin: -45% 0 0 7%; */
        /* margin: 43px 0 0 81%; */
        margin: -550px 0 0 -90px;
        z-index: 10;
    }
    
    #pin-shadow {
        position: absolute;
        height: 40px;
        width: 40px;
        /* margin: -44% 0 0 9%; */
        /* margin: -650px 0 0 -90px; */
        z-index: 4;
    }
    
    #pin-shadow2 {
        position: sticky;
        height: 36px;
        width: 36px;
        /* margin: 43px 0 0 81%; */
        margin: -545px 0 0 -30px;
        transform: rotate(20deg);
        z-index: 3;
    }
}

@media only screen and (max-width: 1100px) {
    
    nav {
        width: 75%;
    }
    .container2 {
        height: 760px;
        display:flexbox;
        font-size: 48px;
        flex-flow: wrap; 
        color: rgb(94, 141, 94);
    }

    #name {
        flex-basis: 4fr;
        color: rgb(204, 103, 175);  
        width: 350px;
        height: 40px;
        margin: 10px 0 0 0%;
    }
    #sig{
        margin: -50px 0 0 50%;

    }

    .profilePicCard {
        margin: -220px 0 0 55%;
        height: 100%;
        width: 95%;
    }

    .profilePicCard1 {
        height: 96%;
        width: 93%;
    }
    
    #profilePic {
        height: 245px;
        width: auto;
    }
    .interests {
        margin: -541px 0 0 79%;

    }

    #pin {
        position: sticky;
        height: 40px;
        width: 40px;
        /* margin: -45% 0 0 7%; */
        /* margin: 43px 0 0 81%; */
        margin: -550px 0 0 -90px;
        z-index: 10;
    }
    
    #pin-shadow {
        position: absolute;
        height: 40px;
        width: 40px;
        /* margin: -44% 0 0 9%; */
        /* margin: -650px 0 0 -90px; */
        z-index: 4;
    }
    
    #pin-shadow2 {
        position: sticky;
        height: 36px;
        width: 36px;
        /* margin: 43px 0 0 81%; */
        margin: -545px 0 0 -30px;
        transform: rotate(20deg);
        z-index: 3;
    }
    .quoteBox {
        height: 350px;
    }
    .container3 {
        margin: -100px 0 0 0;
    }
}

@media only screen and (max-width: 950px) {

    #name {
        color: rgba(244, 129, 52, 0.79);  
    }
    #sig {
        margin: -50px 0 0 50%;
    }

    nav {
        /* margin: 0 80px 0 0; */
        width: 65%;
    }
    .profilePicCard {
        margin: -180px 0 0 35%;
        height: 90%;
        width: 95%;
    }
    
    #profilePic {
        height: 90%;
        width: auto;
    }
    .container3 {
        margin: -80px 0 0 0;
    }
    .interests {
        margin: -60% 0 0 69%;
    }
}

@media only screen and (max-width: 900px) {
    nav {
        width: 72%;
    }
    #name {
        color: rgba(210, 2, 2, 0.79);  
    }
    #sig {
        margin: -50px 0 0 350px;
    }

    #subA {
        width: 10%;
    
    }
    #subB {
        width: 80%;
        /* border: solid black 1px; */
    
    }
    #subC {
        width: 10%;
    }

    #subD {
        width: 80%;
    }

    .profilePicCard {
        margin: -180px 0 0 35%;
        height: 250px;
        width: 190px;
    }
    .profilePicCard1 {
        /* margin: -180px 0 0 35%; */
        height: 96%;
        width: 92%;
    }
    
    #profilePic {
        height: 235px;
        width: auto;
    }
    .descriptions {
        margin: 80px 0 0 80px;
    }
    #frontSkills {
        margin: 10px 0 0 100px;
    }
    #edu {
        margin: -80px 0 0 0;
    }
    #eduSkills {
        margin: -35px 0 0 110px;
    }
    #bio {
        margin: 20px 0 0 0;
    }
    #experience {
        margin: -180px 0 0 250px;
    }
    .interests {
        margin: -550px 0 0 69%;
    }
    #pin {
        position: sticky;
        height: 40px;
        width: 40px;
        /* margin: -45% 0 0 7%; */
        /* margin: 43px 0 0 81%; */
        margin: -550px 0 0 -90px;
        z-index: 10;
    }
    .container3 {
        margin: -20px 0 0 0;
    }
    .container4 {
        padding:10px 0;
    }
}

@media only screen and (max-width: 795px) {
    nav {
        width: 62%;
    }
    #name {
        color: rgba(59, 208, 158, 0.81);  
    }
    #subA {
        width: 5%;
    
    }
    #subB {
        width: 85%;
    }
    #subC {
        width: 5%;
    }

    #subD {
        width: 80%;
    }
    #bio {
        margin: -40px 0 0 0;
        width: 165;
    }
    #experience {
        width: 165px;
    }
    #profilePicDesktop {
        visibility: hidden;
    }
    .container2-B { 
        visibility: visible;
        display: flexbox;
        height: 350px;
        width: 100%;
        margin: -60px 0 0 0;
    }

    #profilePicMobile {
        margin: 94px 0 0 80px;
        width: 25%;
        height: 25%;
    }
    .descriptions {
        margin: 70px 0 0 0%;
    }
    .descItems {
        margin: -20px 0 0 0;
    }
    #edu {
        margin: -120px 0 0 0px;
    }
    #mus {
        margin: 60px 30px 0 0px;
    }
    #musSkills {
        margin: -40px 0 0 120px;
    }
    .container3 {
        margin: 0 0 0 0;
        height: 500px;
    }
    .interests {
        margin: 240px 0 0 39%;
    }
    #pin {
        margin: 240px 0 0 -90px;
    }
    #pin-shadow2 {
        margin: 246px 0 0 -30px;
    }
    .quotations {
        margin: 0 0 0 20px;
        width: 65%;
    }
}
@media only screen and (max-width: 732px) {
    nav {
        display: flexbox;
        text-align: right;
        width: 450px;
    }
    #name {
        color:olive;
        margin: 0 0 0 50px;
    }
    #sig{
        margin: -20px 0 0 450px;
    }
    .descriptions {
        margin: 80px 0 0 0;
    }
    #subD {
    display: inline-block;
    /* border: solid yellow 2px; */
    text-overflow: ellipsis;
    }
    #bio {
        width: 200px;
    }
    .container2-B {
        /* border: solid pink 2px; */
        margin: 20px 0 30px 0;
    }
    #profilePicMobile {
        margin: 0% 0 0 5%;
        width: 210px;
        height: 270px;
    }
    #sticky-note{
        margin: 35% 0 0 39%;
    }
    #pin {
        margin: 230px 0 0 -90px;
    }
    #pin-shadow2 {
        margin: 236px 0 0 -30px;
    }
    .container3 {
        display: inline-block;
    }
    .container2-B {
        height: 400px;
    }
    .container3 {
        height: 520px;
    }
    .quotations {
        width:400px;
        margin: 10px 0 0 30px;
    }
    .container4 img {
        height: 60px;
        width: 60px;
    }
    footer {
        width: 60%;
    }
}

@media only screen and (max-width: 643px) {
    nav {
        width: 330px;
    }
    #name {
        color:orchid;
        margin: 0 0 0 0px;

    }
    #sig {
        margin: -29px 0 0 420px;
    }
    .descriptions {
        margin: 100px 0 0 -30px;
    }
    .edu {
        margin: -130px 0 0 0;
    }
    .mus {
        margin: -15px 0 30px 0;
    }

    #subD{
        display: flexbox;
        width: 400px;
    }

    #subD p {
        width: 80%;
    }
    #experience{
        margin: 50px 0 0 0px;
    }
    /* .quotations {
        margin: 0% 0 0 0%;
    } */

    #profilePicMobile {
        margin: 18% 0 0 0%;
    }
    .container2-B{
        margin: 15% 0 0 0;
        height: 400px;
    }
    #sticky-note{
        margin: 320px 0 0 37%;
    }
    #pin {
        margin: 300px 0 0 -90px;
    }
    #pin-shadow2 {
        margin: 306px 0 0 -30px;
    }
    #bio {
        margin : 0 0 0 30px;
    }
    #experience {
        margin : 60px 0 0 30px;
    }
    .container2-B {
        margin: 80px 0 0 0;
    }
    .quotations {
        width: 60%;
    }
    .container4 {
        height: 350px;
    }
    footer {
        width: 50%;
    }
}
@media only screen and (max-width: 631px) {
    footer{
        height: 120px;
    } 
}
@media only screen and (max-width: 530px) {
    nav {
        margin:  0 0 0 -15px;
    }
    #name {
        color:rgba(36, 203, 21, 0.925);
        margin: 0 0 0 -10px;
    }
    #sig {
        margin: -66px 0 0 320px;
    }
    .descriptions {
        margin: 80px 0 0 -30px;
    }
   
    #subD p{
        width: 290px;
    }

    #experience {
        width: 140px;   
        margin: 10px 0 0 27px;
    }
    #profilePicMobile {
        margin: 90px 0 0 0;
    }
    #sticky-note {
        margin: 260px 0 0 45%;
        z-index: 10;
    }
    .quotations 
    {
        font-size: 16px;
    }
}


@media only screen and (max-width: 497px) {
    nav {
        width: 320px;
    }
    #name {
        color: darkslategray;
    }
    #sig {
        visibility: hidden;
    }
    #subD p {
        width: 300px;
    } 

     #subA {
        width: 15px;
        position: relative;
    }
    #subB {
        width: 86%;
        /* border: solid red 2px; */
    }
    #subC {
        width: 15px;
    }
    
    #subD{
        width: 86%;

    }
    .descriptions {
        margin: 120px 0 0 0;
    }
    #front {
        margin: 0;
    }
    #subC {
        position: sticky;
        height: 304px;
        width: 15px;
    }
    #experience {
        margin: 0px 0 0 33px;
    }
    #profilePicMobile {
        margin: 30px 0 0 0;
    }
    #sticky-note {
        margin: 200px 0 0 59%;
    }
    #pin {
        margin: 200px 0 0 -90px;
    }
    #pin-shadow2 {
        margin: 206px 0 0 -30px;
    }
    
   .quotes {
       font-size: 36px;
       width: 250px;
   }
   footer img {
    width: 20px;
    height: auto;
   }
   .container4 {
       height: 220px;
   }
   .container4 img{
    width: 20px;
    height: auto;
   }
   footer {
       width: 300px;
       height: 50px;
       margin: 10px 0 0 30px;
   }
}